{{#* inline "overlay-fields"}}
    <div class='ea-score-container'>
        <div class='ea-score-info'>
            {{#each oinfo}}
                {{#ifLookup ../this column}}
                    <div class='ea-overlay-info'>
                        <span class='ea-overlay-label'>{{label}}:&nbsp;</span>
                        <span class='ea-overlay-value'>{{lookup ../this column}}</span>
                    </div>
                {{/ifLookup}}
            {{/each}}
        </div>
    </div>
{{/inline}}

{{#* inline "product-selector-fields"}}
    <div class='ea-product-selector-container'>
      <input type='checkbox' class='ea-product-cb' />
    </div>
{{/inline}}


{{#*inline "product-rating-stars"}}
    {{#if fields.rating}}
        {{#ifLookup this fields.rating}}
            <div class='ea-product-rating'>
                <a class='ea-product-rating-link' href='{{#if fields.url}}{{lookup this fields.url}}{{else}}#{{/if}}' title='{{ratingTitle normalizedVal 5.0}}'>
                    <img class="ea-product-rating-bar-stars" src="./images/trans.gif" alt='{{ratingTitle normalizedVal 5.0}}' style="background-position:0px {{starPosition normalizedVal}}px"/>
                </a>
            </div>
        {{else}}
            <div class='ea-product-rating-bar-spacer'><img src='../images/trans.gif'/></div>
        {{/ifLookup}}
    {{/if}}
{{/inline}}

{{#* inline "product-cell"}}
{{#if opts.productSelectConfig}}
	<div class='ea-product-cell ea-product-selector-cell' ea-prod-id='{{lookup this fields.id}}'>
	{{> product-selector-fields}}	
{{else opts.overlayFields}}
    <div class='ea-product-cell ea-overlay-cell' ea-prod-id='{{lookup this fields.id}}' style="height:300px;">
    {{> overlay-fields oinfo=oinfo}}
{{else}}
    <div class='ea-product-cell' ea-prod-id='{{lookup this fields.id}}'>
{{/if}}
        <div class='ea-product-cell-image'>
            <a href='{{#if fields.url}}{{lookup this fields.url}}{{else}}#{{/if}}' title='{{lookup this fields.name}}'>
                <img class='ea-product-cell-image' src='{{lookup this fields.image}}' alt='{{lookup this fields.name}}'/>
            </a>
        </div>
        {{> product-rating-stars fields=fields}}
        <div class='ea-product-name-area'>
            <a href='{{#if fields.url}}{{lookup this fields.url}}{{else}}#{{/if}}'>
                <div class='ea-product-cell-name'>{{lookup this fields.name}}</div>
            </a>
        </div>
        <div class='ea-product-price-area'>
            <span class='ea-product-cell-price'>{{lookup this fields.price}}</span>
        </div>
        {{#ifCond this.Type_Id '==' 'configurable'}}
           	{{#if this.Sku_Colors}}
           		<ul class="ea-product-color-block-values">
           			<div class="ea-product-color-block">
           				{{#each this.Sku_Colors}}     				
           				    <div class="ea-color-swatch-cell">
      	     					<div class="ea-color-swatch {{#ifCond ../this.Color_Value '==' this}} ea-selected{{/ifCond}}" ea-val="{{this}}">
         	   						<div class="ea-color-swatch-tile {{colorToClass this}}" title="{{this}}"></div>
        						</div>
        					</div>
           				{{/each}}
           			</div>
           		</ul>
           	{{/if}}
           	<div style="clear:both;"></div>
           	{{#if this.Sku_Sizes}}
           		<ul class="ea-product-size-block-values">
           			<div class="ea-product-size-block">
           				{{#each this.Sku_Sizes sku_val=../this.Size_Value}}     				
           				    <div class="ea-size-swatch-cell">
      	     					<div class="ea-size-swatch {{#ifCond ../this.Size_Value '==' this}} ea-selected{{/ifCond}}" ea-val="{{this}}">
         	   						<div class="ea-size-swatch-tile" title="{{this}}">{{this}}</div>
        						</div>
        					</div>
           				{{/each}}
           			</div>
           		</ul>
           	{{/if}}
           	
        {{/ifCond}}
    </div>
{{/inline}}


{{#if prods.groups}}
    {{#each prods.groups.group}}
        {{#if name}}
            <div class='ea-group-title'>
                <span class='ea-group-name'>{{name}}</span>
                <span class='ea-group-size'>
                    {{productCount}} of {{totalRows}}
                    {{#ifCond productCount '<' totalRows}}
                        {{#ifCond ../prods.groups.type '==' 1}}
                            <a href='#' class='ea-cat' ea-seo-path='{{seoPath}}' ea-cat='{{name}}'>more</a>
                        {{else}}
                            {{#ifCond ../prods.groups.type '==' 2}}
                                <a href='#' class='ea-attr' ea-seo-path='{{seoPath}}' ea-attr='{{../prods.groups.name}}' ea-val='{{name}}'>more</a>
                            {{/ifCond}}
                        {{/ifCond}}
                    {{/ifCond}}
                </span>
            </div>
            <div style='clear:both;'></div>
            <div class='ea-product-cell-container'>
                {{#each item}}
                    {{> product-cell fields=../../fields opts=../../opts oinfo=../../oinfo}}
                {{/each}}
                <div style='clear:both;'></div>

            </div>
        {{/if}}
    {{/each}}
{{else}}
    <div class='ea-product-cell-container'>
        {{#each prods.items}}
            {{> product-cell fields=../fields opts=../opts oinfo=../oinfo}}
        {{/each}}
    </div>
{{/if}}