{{#*inline "product-rating-stars"}}
    {{#if fields.rating}}
        {{#if rating}}
            <div class='ea-sug-product-rating'>
                <a class='ea-sug-product-rating-link' href='{{#if url}}{{url}}{{else}}#{{/if}}'
                   title='{{ratingTitle rating 5.0}}'>
                    <img class="ea-sug-product-rating-bar-stars" src="./images/trans.gif"
                         style="background-position:0px {{starPosition rating}}px" />
                </a>
            </div>
        {{else}}
            <div class='ea-sug-product-rating-bar-spacer'><img src='../images/trans.gif' /></div>
        {{/if}}
    {{/if}}
{{/inline}}
<div class='ea-autocomplete {{#if prod.source.products.items}}{{else}} ea-no-products{{/if}}'>
    <div class="ea-searches-area ea-sug-area">
        {{#if sug.input}}
            <div class='ea-searches-title'>
                Suggestions for "<span class='ea-highlight'>{{sug.input}}</span>"
            </div>
        {{/if}}
        <ul class='ea-suggestions'>
            {{#each sug.suggests}}
                <li class='ea-search-suggestion {{#ifCond @index '==' ../offset}} ea-selected{{/ifCond}}'>
                    <span class='ea-normal'>{{lhs}}</span><span class='ea-highlight'>{{hit}}</span><span
                    class='ea-normal'>{{rhs}}</span>
                </li>
                {{#if ../prod.source.products.items }}
                    {{#ifCond @index '==' ../offset}}
                        {{#if ../prod.source.categories.categoryList}}
                            <ul class='ea-cat-sug'>
                                {{#each ../prod.source.categories.categoryList}}
                                    {{#ifCond 3 '>' @index}}
                                        <li>
                                            <a class='ea-sug-nav-link' data-eapath='{{seoPath}}' href='#'>
                                                {{name}}{{#ifCond productCount '>' 0}}
                                                <span class='ea-sug-nav-count'>&nbsp;({{productCount}}
                                                    )</span>{{/ifCond}}
                                            </a>
                                        </li>
                                    {{/ifCond}}
                                {{/each}}
                            </ul>
                        {{/if}}
                    {{/ifCond}}
                {{/if}}
            {{/each}}
        </ul>
    </div>

    {{!-- 2/3 --}}
    <div class="ea-products-area ea-sug-area">
        <div class='ea-products-area-title'>
            Featured Results for "{{prod.source.originalQuestion}}"
            ({{prod.source.products.itemDescription.totalItems}})
        </div>
        <ul class='ea-products ea-grid'>
            {{#if canonicalItems}}
                {{#each canonicalItems}}
                    <li class="ea-sug-product" ea-prod-id="{{id}}">
                        <div class='ea-sug-product-picture'>
                            <a class='ea-sug-product-info-link' href='#' target='_blank'>
                                <img src='{{thumbnail}}' style="width: 100%; height: 100%; object-fit: contain" alt='{{name}}'>
                            </a>
                        </div>
                        <div class='ea-sug-product-info'>
                            {{#if ../fields.colorCount}}
                                <a class='ea-sug-product-info-link' href='#' target='_blank'>
                                    <div class='ea-sug-product-color-count'>{{colorCount}}
                                        Color{{#ifCond colorCount '>' 1}}s{{/ifCond}}
                                    </div>
                                </a>
                            {{/if}}
                            {{> product-rating-stars fields=../fields}}
                            <a class='ea-sug-product-info-link' href='#' target='_blank'>
                                <div class='ea-sug-product-name'>{{name}}</div>
                                <div class='ea-sug-product-name'>{{code}}</div>
                            </a>
                            <div class='ea-sug-product-price'>{{price}}</div>
                        </div>
                    </li>
                {{/each}}
            {{/if}}
        </ul>
    </div>
</div>
