<div class='ea-sug-wrapper-prod{{#if prod.source.products.items}}{{else}} ea-no-products{{/if}}{{#if
    facets.length}}{{else}} ea-no-navigation{{/if}}'>
<div class='ea-sug-nav ea-sug-nav-left' style='width:100%;'>
    <div class='ea-sug-section ea-sug-area'>
        {{#if sug.input}}
            <div class='ea-sug-sec-heading ea-sug-sug'>
                <span class='ea-sug-sec-head-title'>Search Suggestions for:&nbsp;</span>
                <span class='ea-sug-sec-head-value'>"{{sug.input}}"</span>
            </div>
        {{/if}}
        <ul class='ea-suggestion'>
            {{#each sug.suggests}}
                <li class='ea-search-suggestion {{#ifCond @index '==' ../offset}} ea-selected{{/ifCond}}'>
                    <span class='ea-normal'>{{lhs}}</span><span class='ea-highlight'>{{hit}}</span><span
                    class='ea-normal'>{{rhs}}</span>
                </li>
            {{/each}}
        </ul>
    </div>
    {{#if prod.source.products.itemDescription.totalItems}}
        <div class='ea-sug-section ea-sug-area ea-sug-product'>
            <div class='ea-sug-sec-heading'>
                <span class='ea-sug-sec-head-title'>Products</span>
                <span
                    class='ea-sug-sec-head-count'>total:&nbsp;{{prod.source.products.itemDescription.totalItems}}</span>
            </div>
            <table class="ea-sug-products" border=0 cellspacing=0 style="width:100%">
                <tbody>
                {{#each prod.source.products.items}}
                    <tr class="ea-sug-product" ea-prod-id="{{Product_Id}}">
                        <td class="ea-sug-product-picture">
                            <a class="ea-sug-product-picture-link" href="#">
                                <img class="ea-sug-product-image" src='{{Item_Thumbnail}}'>
                            </a>
                        </td>
                        <td class="ea-sug-product-info">
                            <a class="ea-sug-product-info-link" href="#">
                                <div class="ea-sug-product-name ui-corner-all">{{Style_Name}}</div>
                                <div class="ea-sug-product-price">{{Price}}</div>
                            </a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    {{/if}}
</div>
